<mat-toolbar color="primary">
  My Epic App
  <span class="spacer"></span>
  <!-- mat-flat-button is a directive from @angular/material, MatButtonModule -->
  <button mat-flat-button color="primary" routerLink="home" routerLinkActive="active">Home</button>
  <button mat-flat-button color="primary" routerLink="admin" routerLinkActive="active">Admin</button>
  <!-- routerLink is a directive from @angular/router, RouterModule -->
</mat-toolbar>
<main>
  <!-- standard HTML element (semantic HTML) -->
  <router-outlet></router-outlet>
  <!-- component from @angular/router, RouterModule -->
</main>
<footer>Awesome Inc.</footer>
